#headdesign{
   height: 10%;
    width:100%;
}

#container {
    position:relative;
    float:top;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

#navigatedesign{
    position:absolute;
    margin:0px auto 0px auto;
    left: 0px;
    float:left;
    width:20%;
    padding-top: 0px;
}

#contentdesign{
    float:left;
    left: 20%;
    position: relative;
    margin:0px auto 0px auto;
    padding:30px 30px 30px 30px;
    text-align:center;
    width:80%;
}

#footerdesign{
    position: absolute;
    clear:left;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    color: black;
    text-align: center;
}


#container  p {
    text-indent: 30px;

}

#container p a:link {
	color: green;
	text-decoration: none;}
#container p a:visited {
	color: black;}
#container p a:hover {
	color: green;
	text-decoration: underline;}
#container p a:active {
	color: darkcyan;}




