{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is base html</title>
    <link href="{% static 'css/semantic.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'components/form.js' %}"></script>
    <script src="{% static 'components/transition.js' %}"></script>
    <script src="{% static 'js/rainyday.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
</head>
<body>
<p>this is logo</p>
<div class="ui divider"></div>
<p>this is choose </p>
  <div class="ui vertical divider">
    content
  </div>
</body>
</html>