{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome login on database review system</title>

    <link rel="stylesheet" type="text/css" href="{% static 'components/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/site.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'components/container.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/image.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/menu.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'components/divider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/segment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/input.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/message.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'components/icon.css' %}">
    <link href="{% static 'css/semantic.min.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'components/form.js' %}"></script>
    <script src="{% static 'components/transition.js' %}"></script>
    <script src="{% static 'js/rainyday.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


     <script>
      $(document)
        .ready(function() {
          $('.ui.form')
            .form({
              fields: {
                email: {
                  identifier  : 'email',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Please enter your e-mail'
                    },
                    {
                      type   : 'email',
                      prompt : 'Please enter a valid e-mail'
                    }
                  ]
                },
                password: {
                  identifier  : 'password',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Please enter your password'
                    },
                    {
                      type   : 'length[6]',
                      prompt : 'Your password must be at least 6 characters'
                    }
                  ]
                }
              }
            })
          ;
        })
      ;
      </script>

    <script>
            function run() {
                var image = document.getElementById('background');
                image.onload = function() {
                    var engine = new RainyDay({
                        image: this
                    });
                    engine.rain([ [1, 2, 8000] ]);
                    engine.rain([ [3, 3, 0.88], [5, 5, 0.9], [6, 2, 1] ], 100);
                };
                image.crossOrigin = 'anonymous';
                image.src = '/static/images/Lighthouse.jpg';
            }
        </script>




</head>
<body  onload="run();">


<img crossorigin="anonymous" id="background" alt="background" src="">

 <canvas height="1200" width="1600" style="position: absolute; top: 0px; left: 0px;" ></canvas>


<div  id="infobox" class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="{% static 'images/logo.png'  %}" class="image">
      <div class="content">
        欢迎登陆恒昌数据库审计系统
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
              <div class="ui label">用户名 </div>
            <input type="text" name="email" placeholder="UserName">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
              <div class="ui label">密码 </div>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">登陆</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      没有账户？ <a href="#">请注册</a>
    </div>
  </div>
</div>






<footer class="footer">
    <div id="credits">
      <p>© 2016 北京恒昌财富管理有限公司 .荣淮海设计. 保留所有权利.</p>
    </div>
</footer>





<script>
    var engine = new RainyDay({
    image: element,         // Image element
                            // This value is required
    parentElement: someDiv, // Element to be used as a parent for the canvas
                            // If not provided assuming the 'body' element
    crop: [0, 0, 50, 60],   // Coordinates if only a part of the image should be used
                            // If not provided entire image will be used
    blur: 10,               // Defines blur due to rain effect
                            // Assuming 10 if not provided
                            // Use 0 value to disable the blur
    opacity: 1              // Opacity of rain drops
                            // Assuming 1 if not provided
});
engine.rain(
    [
        [1, 0, 20],         // add 20 drops of size 1...
        [3, 3, 1]           // ... and 1 drop of size from 3 - 6 ...
    ],
    100);                   // ... every 100ms
</script>

</body>
</html>